@import url(http://fonts.googleapis.com/css?family=Oswald:400,700);

@font-face {
  font-family: "BebasNeue";
  src: url('../fonts/BebasNeue.eot');
  src: local('?'), url('../fonts/BebasNeue.woff') format('woff'), url('../fonts/BebasNeue.ttf') format('truetype')
}

/*****************************************************************
*
* 1. General / Layout
* 2. Splash Page
* 3. Forms
*
* Alternate Colour: D60000
*
******************************************************************/


/*****************************************************************
* 1. General / Layout
******************************************************************/

html body
{
    margin:0;
    padding:0;
    font-family:Oswald;
    font-size:14px;
    color:#333;
    background-color:#fff;
    width:100%;
    overflow-x:hidden;
    font-weight:normal;
    position:absolute;
    height:100%;
}

h1
{
    font-size:60px;
    font-family:BebasNeue;
    font-weight:normal;
    color:#fff;
}

.icon
{
    width:60px;
    height:60px;
}

.global .headingBackground
{
    width:100%;
    height:100px;
    background-color:#FF9100;
    position:absolute;
    top:0;
    left:0;
    overflow:hidden;
    border-bottom:1px solid #AD6300;
}

.splash .headingBackground
{
    width:100%;
    height:40%;
    min-height:190px;
    background-color:#FF8800;
    position:absolute;
    top:0;
    left:0;
    overflow:hidden;
    border-bottom:1px solid #AD6300;
}

.global header
{
    width:100%;
    padding: 0 0%;
    height:100px;
    background-color:#FF9100;
    position:relative;
    top:0;
    left:0;
    overflow:hidden;
    border-bottom:1px solid #AD6300;
}

.textTexture
{
    font-size:70px;
    color:#F58B00;
    font-family:BebasNeue;
    line-height:70px;
    width:120%;
}

.splash header
{
    width:100%;
    height:40%;
    min-height:190px;
    position:relative;
}


.global .heading
{
    position:absolute;
    bottom:-10px;
    left:0;
    width:100%;
}

.splash .heading
{
    position:absolute;
    bottom:-10px;
    left:0;
    width:100%;
}

.heading h1
{
    padding:0;
    margin:0;
}

h2
{
    font-weight:normal;
    border-bottom:2px solid #ccc;
}

.domain
{
    position:absolute;
    bottom:14px;
    left:150px;
    font-family:Oswald;
    font-size:18px;
    color:#fff;
}

.slogan
{
    position:absolute;
    bottom:60px;
    left:0px;
    font-family:Oswald;
    font-size:30px;
    line-height:35px;
    margin-bottom:5px;
    color:#ffa85a;
    font-weight:200;
    
}

.container
{
    height:95%;
    margin-top:100px;
    max-width:1000px;
    min-width:250px;
    margin:auto;
    padding:0 5%;
    position:relative;
}

nav
{
    position:absolute;
    top:0;
    font-family:BebasNeue;
    font-size:20px;
}

.global nav
{
    right:0;
}

.splash nav
{

    right:5%;

}

nav ul li
{
    display:inline-block;
    padding:0 10px;
}

nav ul li a
{
    color:#fff;
}

nav ul li a:hover
{
    color:#ffa85a;
}

nav ul li:first-child
{
    border-right:1px solid #fff;
}

.alignLeft
{
    float:left;
}

.alignRight
{
    float:right;
}

.clear
{
    clear:both;
}

.tenSplitter
{
    height:10px;
}
.twentySplitter
{
    height:20px;
}
.thirtySplitter
{
    height:30px;
}

a
{
    cursor:pointer;
    color: #ff6600;
    text-decoration: none;
}

.button
{
    background-color:#FF9100;
    color:#fff;
    display:block;
    padding:4px 8px;
    border:0;
    font-family:Oswald;
    border:1px solid #AD6300;
    border-radius: 3px;
}

.button a
{
}

.button:hover
{
    background-color:#ff802b;
}

.shadow
{
    text-shadow: 11px 11px 1px rgba(191, 156, 150, 0.2);
}

footer
{
    width:100%;
    text-align:center;
    font-size:12px;
}

nav
{
    color:#AD6300;
}

ul
{
    list-style-type: none;
    margin:0;
    padding:0;
}

ul li
{
    margin:0;
    margin-top:5px;
    padding: 3px 5px;
}

.successNotification
{
    border: 2px solid #33CC33;
}

.fatalNotification
{
    border: 2px solid #E01B1B;
}

.warningNotification
{
    border: 2px solid #FF9D00;
}

.infoNotification
{
    border: 2px solid #000000;
}

.hidden
{
    display:none;
}

/*****************************************************************
* 2. Splash Page
******************************************************************/

.infoBox .information
{
    margin-top:5px;
    margin-left:10px;
    width:40%
}

#createAccount
{
    border:1px solid #AD6300;
}

.createAccountBox
{
    margin-top:20px;
    color:#ff6600;
    position:relative;
}

.arrow
{
    background-image: url(../img/arrow.png);
    background-repeat:no-repeat;
    background-position: bottom;
    width:104px;
    height:77px;
    position:absolute;
    bottom:40px;
    right:100px;    
    padding-top:0px;
}

#formInjection
{
    display:none;
}

.extra
{
    float:right;
    width:25%;
}

.tips
{
    background-color:#eee;
    padding:20px;
    border-radius:5px;
}

.core
{
    width:75%;
    float:left;
}

/*****************************************************************
* 3. Forms
******************************************************************/

.formElement
{
    clear:both;
    margin-bottom:5px;
}

input[type="text"], input[type="password"]
{
    width:60%;
    height:25px;
}

input[type="button"]
{
    margin-top:0px;
}

textarea
{
    width:100%;
    height:150px;
}

.addEntryContainer
{
    border:2px solid #eee;
    padding:0 10px 10px 10px;
    border-radius:3px;
    background-color:#fafafa;
}

.contentContainer
{
    border:2px solid #eee;
    padding:0 10px 10px 10px;
    border-radius:3px;
    background-color:#fafafa;
}

/*****************************************************************
* 4. General Layout
*****************************************************************/

.options
{
    position:relative;
    margin-top:10px;
}

.search
{
    float:right;
    margin-top:10px;
}

.search input[type="text"]
{
    width:90%;
}

/*****************************************************************
* x. Responsive
******************************************************************/


@media screen and (max-width: 600px) 
{
    .textTexture 
    {
        font-size:20px;
        line-height:20px;
    }
    .infoBox .information
    {
        margin-left:10px;
        width:70%
    }
    .arrow
    {
        display:none;
    }
    
    input[type="text"],input[type="password"]
    {
        width:100%;
    }
    
    .extra
    {
        display:none;
    }
    
    .core
    {
        width:100%;
    }
    
    .options
    {
        width:100%;
    }
    
    .options input
    {
        width:100%;
    }
    
    .search
    {
        width:220px;
        float:none;
        margin:auto;
        margin-top:10px;
    }
    
}